.main{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three columns with equal width */
    grid-gap: 2px; 
    margin: 20 auto ;
  }

  .logoContainer{
    display:block;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
  }

  .logo{
    width: 60%;
  }

  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr); /* Two columns for medium screens */
    }
  }
  
  @media (max-width: 480px) {
    .grid-container {
      grid-template-columns: 2fr; /* Single column for small screens */
    }
  }