div .cs-message-list__typing-indicator-container div {
    color: #6d4700;
    }
    
    div .cs-main-container,
    div .cs-chat-container .cs-message-input {
    border: 0px;
    background-color: red;
    }
    
    div .cs-message--incoming .cs-message__content,
    div .cs-chat-container .cs-message-input,
    div .ps__thumb-y,
    div .ps__rail-y:hover .ps__thumb-y,
    div .ps__rail-y:active .ps__thumb-y {
    background-color: #003b6d;
    color: #fff;
    }
    
    div .cs-message-input__content-editor,
    div .cs-message-input__content-editor-wrapper,
    div .cs-message-list,
    div .ps__rail-y:hover,
    div .ps .ps__rail-y:hover,
    div .ps__rail-y {
    background-color: #e6ebf0;
    }
    
    div .cs-message--outgoing .cs-message__content {
    background-color: #00c6bc;
    color:white
    
    }
    
    div .cs-typing-indicator__dot {
    background-color: #003b6d;
    }