.container{
    width: 320px;
    height: 350px;
    background: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    margin: 5px;
    border-radius: 5px;
    padding: 10px 15px;
    
}
.imgContainer{
    width:180px;
    height: 120px;
    margin: 5px auto;
}
.header{
    display: flex;
    justify-content: space-between; /* Distribute items along the main axis */
    align-items: center;
}
.brand{
    color: #003b6d;
    font-size: 20px;
    font-weight: 700;
}
.price{
    color: #003b6d;
    font-size: 20px;
    font-weight: 700;
}
.iconCon{
    display: flex;
}
.iconCon2{
    display: flex;
}

.iconMain{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 5px;
}
.icon{
    font-size: 24px;
    background-color: #d9e2e9;
    color: #003b6d;
    padding: 3px 5px;
}
.icondescription{
    font-size: 10px;
}

.iconProduct{
    font-size: 10px;
    font-weight: 700;
}

.detail{
    display: flex;
    justify-content: space-between; /* Distribute items along the main axis */
    align-items: center;
    margin-top: 30px;
}

.detailView{
    color: #003b6d;
    font-size: 18px;
    font-weight: 700;
}
